<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary" mode="md">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="member">
      <ion-icon name="person"></ion-icon>

      <ion-label>สมาชิก</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button id="project-alert"> -->
    <ion-tab-button tab="project">
      <ion-icon name="documents"></ion-icon>
      <ion-label>มินิโปรเจค</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon aria-hidden="true" name="code"></ion-icon>
      <ion-label>Mini-Project</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
  <ion-alert trigger="project-alert" header="Mini-Project" message="Coming Soon..." [buttons]="['รับทราบ']"></ion-alert>
</ion-tabs>