<div class="ion-page" #page>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary" mode="ios">
      <ion-title>หน้าหลัก</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" sizeLg="4" sizeMd="8">
          <ion-card>
            <img alt="Silhouette of mountains" src="assets/me-rmutsv-square.jpg" />
            <ion-card-header>
              <ion-card-title>นาย กรกมล ศรีอ่อน</ion-card-title>
              <ion-card-subtitle>บิ๊ก</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              นักศึกษา มหาวิทยาลัยเทคโนโลยีราชมงคลศรีวิชัย คณะวิทยาศาสตร์และเทคโนโลยี แผนกเทคโนโลยีสารสนเทศ
            </ion-card-content>
            <ion-button fill="clear" href="https://github.com/bKoZii"><ion-icon
                name="logo-github"></ion-icon></ion-button>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-lg="6" size-md="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title>ชิ้นงานประจำรายวิชา</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                ชิ้นงานต่อไปนี้เป็นชิ้นงาน Ionic ประจำรายวิชา 0232430865
                การพัฒนาคลาวด์แอปพลิเคชัน
              </p>
              <ion-list>
                <ion-item>
                  <ion-icon icon="globe-outline" color="primary" class="ion-margin-end"></ion-icon>
                  <ion-label>Angular Website
                    <div>
                      <ion-icon icon="logo-angular" color="danger" class="ion-margin-end"></ion-icon>
                    </div>
                  </ion-label>

                  <ion-button fill="clear" href="https://github.com/bKoZii/cloud-konkamon-bootstrap"><ion-icon
                      icon="logo-github"></ion-icon></ion-button>
                  <ion-button fill="clear" href="https://konkamon-angular.web.app/"><ion-icon
                      icon="globe-outline"></ion-icon></ion-button>
                </ion-item>
                <ion-item>
                  <ion-icon icon="phone-portrait-outline" color="primary" class="ion-margin-end"
                    id="hover-trigger"></ion-icon>
                  <ion-label>Ionic + Angular App
                    <div>
                      <ion-icon icon="logo-ionic" color="secondary" class="ion-margin-end"></ion-icon>
                      <ion-icon icon="logo-angular" color="danger"></ion-icon>
                    </div>
                  </ion-label>
                  <ion-button fill="clear" href="https://github.com/bKoZii/cloud-konkamon-ionic"><ion-icon
                      icon="logo-github"></ion-icon></ion-button>
                  <ion-button fill="clear" href="https://konkamon-ionic.web.app"><ion-icon
                      icon="globe-outline"></ion-icon></ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title>ชิ้นงานอื่นๆ</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-icon icon="phone-portrait-outline" color="primary" class="ion-margin-end"></ion-icon>
                  <ion-label>
                    Ionic + Vue
                    <div>
                      <ion-icon icon="logo-ionic" color="secondary" class="ion-margin-end"></ion-icon>
                      <ion-icon icon="logo-vue" color="success" class="ion-margin-end"></ion-icon>
                    </div>
                  </ion-label>
                  <ion-button fill="clear" href="https://github.com/bKoZii/cloud-konkamon-ionic-vue"><ion-icon
                      icon="logo-github"></ion-icon></ion-button>
                  <ion-button fill="clear" href="https://konkamon-ionic-vue.web.app"><ion-icon
                      icon="globe-outline"></ion-icon></ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>